// Layout base styling.

// Container.
.container {
  @extend .margin-medium;
}

// Add box-sizing: border-box to all elements.
* {
  @include box-sizing(border-box);
}

// Remove :focus awful border.
*:focus {
  outline : none;
}

a {
  @extend .text-light-blue;
  text-decoration : inherit;

  &:hover {
    @extend .text-blue;
    text-decoration : underline;
  }
}

body {
  @extend .text-small;
  font-family : $font-primary;
  font-weight: 300;
  color: getColor(wet-stone);
  font-size: 13px;
}


ul.horizontal{
  li{
    display:block;
    float:left;
  }
}
strong{
  font-weight: bold;
}