.content {
  margin:0;
  position: relative;
  overflow: hidden;

  .content-headlines {
    margin-bottom: 32px;
  }

  h2 {
    @include headline-base;
    color: getColor(dark-lightblue);
    font-weight: 200;
    font-size: 34px;
    margin-bottom: 7px;
    word-spacing: 1px;

  }

  h4 {
    @include headline-base;
    color: getColor(dark-lighterblue);
    font-weight: 100;
    font-size: 15px;
    word-spacing: 2px;
  }
}
.trenes-content{
  @extend .padding-top-x-large;
}
.separador-crema{
  height: 1px;
  background-color: getColor(crema-tren);
}