
.product-detail-section-title {
  font-size: 1.429em;
  font-weight: 700;
  margin: 0;
}

.phone-detail-container{
  margin:30px 0;
}

.product-detail-price{
  vertical-align: top;
  font-size:2.279em;
  color:$sprint-yellow;
  font-weight: 900;
  span{
    vertical-align: top;
    font-size: 0.6em;
    line-height: 1.5em;
  }
}
.product-detail-container-left{
  border-right:1px solid #bfbfbf;
}
.product-detail-container-right{
  margin-left:10px;
}
.product-detail-agreement{
  font-size: 0.867em;
  font-weight: 400;
  margin: 5px 0;
}

.product-detail-copy{
  font-size:0.715em;
  margin-bottom:25px;
}

.black-line-circle{
  width:48px;
  height: 48px;
  border: 1px solid #000;
  @include border-radius(26px);
  margin: 20px auto 0;
  img{
    margin-top: 12px;
    margin-left: 14px;
  }
}

.square-size-item{
  width:48px;
  height: 48px;
  border: 1px solid #fff;
  margin: 20px auto 0;
  img{
    margin-top: 12px;
    margin-left: 14px;
  }
}

.circles-container{
  margin-top:10px;
}

.three-six-view{
  font-size: 1.1em;
  text-align: center;
  font-weight: 700;
  line-height: 0.9em;
  margin-top: 12px;
  margin-left: 4px;
}
.three-six-view-copy{
  font-size:0.5em;
  margin-top:2px;
  margin-left:2px;
  letter-spacing:0.2em;
  text-align: center;
  font-weight: 700;
  line-height: 0.9em;
}

.color-selection-separator{
  margin:45px 0;
}

.type-selection-separator{
  margin:45px 0 10px 0;
}

.product-detail-type-title{
  font-size: 0.867em;
  font-weight: 700;
  margin-top:35px;
}
.product-detail-type-size{
  font-size:0.867em;
  margin-top:14px;
  text-align: center;
  letter-spacing: -0.07em;
  .gray-arrow-right{
    vertical-align: middle;
  }
}

.product-detail-arrow-up{
  width:20px;
  height:10px;
  background: url('../images/arrow_up.svg') no-repeat top left;
  background-size: 20px 10px;
  margin:20px auto 0;
}

.product-detail-arrow-down{
  width:20px;
  height:10px;
  background: url('../images/arrow_up.svg') no-repeat top left;
  background-size: 20px 10px;
  margin:0 auto;
  @include scaleY(-1, 0,false);
}

.product-detail-current-quantity{
  font-size:0.867em;
  text-align: center;
  margin: 10px 0;
}

.product-detail-quantity-container{
  margin-bottom: 10px;
}

.product-detail-quantity-container .product-detail-container-left{
  padding-right: 5px;
  height: 80px;
}

.product-detail-store-buttons{
  margin-top:25px;
}


.product-detail-position-icon{
  width:23px;
  height:28px;
  background: url('../images/location_icon_yellow.svg') no-repeat top left;
  background-size: 23px 28px;
  margin:0 auto;
}
.product-detail-store-location{
  margin-bottom:15px;
}
.product-detail-store-location-copy{
  font-size:0.874em;
  font-weight: 700;
  letter-spacing: -0.10em;
}
.product-detail-store-change-store{
  text-align: center;
  text-transform: uppercase;
  padding: 6px 7px;
  border: 3px solid $sprint-yellow;
  font-size: 0.676em;
  line-height: 1.1em;
  width: 90px;
  margin-top: 10px;
}

.product-detail-store-address{
  margin-top:8px;
  margin-bottom:15px;
}

.product-detail-lower-menu{
  margin-top:15px;
}

.product-detail-social-copy{
  font-size:0.715em;
  margin-top:15px;
}


.product-detail-facebook-logo{
  width:10px;
  height:21px;
  background: url('../images/facebook_logo_menu.svg') no-repeat top left;
  background-size: 10px 21px;
  margin:-4px 4px 0 12px;
  display:inline-block;
  vertical-align: middle;
}

.product-detail-facebook-button{
  display:block;
  text-decoration: none;
  background-color: #507ecc;
  color:#fff;
  font-size:0.715em;
  font-weight: 400;
  padding:15px 0;
  margin:10px 10px 10px 0;
  vertical-align: middle;
  letter-spacing: -0.056em;
  height: 20px;
}

.product-detail-twitter-button{
  display:block;
  text-decoration: none;
  background-color: #5ec0ef;
  color:#fff;
  font-size:0.715em;
  font-weight: 400;
  padding:15px 0;
  margin:10px 0 10px 10px;
  vertical-align: middle;
  letter-spacing: -0.056em;
  height: 20px;
}


.product-detail-twitter-logo{
  width:15px;
  height:18px;
  background: url('../images/twitter_logo_menu.svg') no-repeat top left;
  background-size: 15px 18px;
  margin:-4px 4px 0 12px;
  display:inline-block;
  vertical-align: middle;
}

.lower-menu-option{
  font-size:0.715em;
  line-height: 2em;
  margin-bottom:15px;
  .yellow-arrow-right{
    margin-left:7px;
  }
}

.lower-menu-container{
  float: right;
  clear: both;
  height: 40px;
}

.product-detail-lower-menu-social-container{
  overflow:auto;
}

.grey-dash.last-one{
  margin: 15px 0;
}