.list-contract-options{
  margin: 0 -15px 15px -15px;
}
.contract-agreement-copy{
  font-size:0.680em;
  text-align: center;
  font-weight: 700;
  padding:15px 0;
}

.contract-agreement-copy-left{
  border-bottom: 1px #c3c3c3 solid;
  border-right: 1px #c3c3c3 solid;
}

.contract-agreement-copy-right{
  border-bottom: 1px #c3c3c3 solid;
}

.product-list-section-title {
  font-size: 1.429em;
  font-weight: 700;
  margin: 0;
}

.list-phones{
  margin-top:30px;
}

.product-item{
  margin-top:25px;
  .grey-dash{
    margin-top:25px;
  }
}

.comments{
  font-size: 0.750em;
  vertical-align: top;
}

.product-title{
  font-size:1.190em;
  font-weight: 400;
  margin:0;
}
.product-price{
  vertical-align: top;
  font-size:2.279em;
  color:$sprint-yellow;
  font-weight: 900;
  span{
    vertical-align: top;
    font-size: 0.6em;
    line-height: 1.5em;
  }
}

.product-agreement-copy{
  font-size:0.867em;
  font-weight: 400;
}

.product-view{
  color: #000;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.75em;
  margin: 25px 0 0;
}