.shopping-cart-container{
  margin-top:15px;
}

.shopping-cart-section-title {
  font-size: 1.429em;
  font-weight: 700;
  margin: 0;
}

.shopping-cart-items-added{
  font-size:0.867em;
  font-weight: 400;
  margin:5px 0 0 0;
}

.shopping-cart-item-list{
  margin-top:20px;
}

.shopping-cart-item-title{
  font-size:0.867em;
  font-weight: 700;
}

.shopping-cart-item-price{
  font-size:0.867em;
  font-weight: 700;
  float:right;
}

.shopping-cart-checkout{
  margin-top:25px;
}

.shopping-cart-continue-shopping-title{
  font-size: 0.867em;
  font-weight: 700;
  text-align: center;
}
.shopping-cart-continue-shopping{
  margin:25px 0;
  .grey-dash{
    margin-top:8px;
  }
}

.shopping-cart-bundle{
  min-width: 100px;
  margin-right: 15px;
  vertical-align: top;
  max-width: 200px;
}

.shopping-cart-bundle-container{
  margin:25px 0;
}

.shopping-cart-also-bought{
  margin-top:50px;
}

.checkout-option-price{
  font-size: 1.162em;
  float:right;
}