@font-face {
  font-family: 'vincentregular';
  src: url('../fonts/vincent-regular-webfont.eot');
  src: url('../fonts/vincent-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/vincent-regular-webfont.woff') format('woff'),
  url('../fonts/vincent-regular-webfont.ttf') format('truetype'),
  url('../fonts/vincent-regular-webfont.svg#vincentregular') format('svg');
  font-weight: normal;
  font-style: normal;
}