// Experimentally support svg as a fallback.
$experimental-support-for-svg : true;

// Colors array.
$colors :
  apple       #f60,
  black       #000,
  blue        #287fb9,
  carbon      #111,
  dirty-white #eee,
  grass       #690,
  light-blue  #287fb9,
  orange      #ec8206,
  orange-dark #c36b02,
  steel       #ccc,
  wet-stone   #666,
  white       #fff,
  gray        #717171,
  dark-gray   #333,

  gray-blue-light     #f4fafc,
  gray-blue-middle #f9f9f9,

  sky-blue       #1fbcff,
  sky-dark       #0ba6e8,
  sky-darkblue   #0fb4fb,
  deep-blue      #0090cd,
  gray-blue      #e5f2f7,
  gray-blue-dark #9db4bd,
  lighter-gray   #c2cad0,
  lightest-gray   #E1E3E6,
  aqua-gray      #44626d,
  light-gray     #c0d0d5,
  stone          #a7adb0,
  green-leaf     #58ac01,
  green-dark     #4c9401,
  lightest-blue  #f6fbfd,
  dark-lighterblue #6a7984,
  dark-lightblue #3e5564,

  alert-1 #c4150a,
  alert-2 #e0581d,
  alert-3 #e09323,
  alert-4 #dbc726,
  alert-5 #adc422,
  alert-6 #61c921,

  background-1 #fff2e3,

  //TREN
  gris-tren #444344,
  azul-tren #007993,
  crema-tren #F2EFDC,
  rojo-tren #BF4B4B;

@font-face {
  font-family: 'vincentregular';
  src: url('../fonts/vincent-regular-webfont.eot');
  src: url('../fonts/vincent-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/vincent-regular-webfont.woff') format('woff'),
  url('../fonts/vincent-regular-webfont.ttf') format('truetype'),
  url('../fonts/vincent-regular-webfont.svg#vincentregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Font configuration.
$vincent           : 'vincentregular';
$font-primary      : "proxima-nova",sans-serif;
$font-sizes        :
  xx-small 10px,
  x-small  12px,
  small    14px,
  medium   16px,
  x-medium 18px,
  large    22px,
  x-large  30px;

// Spacing sizes for padding and margins.
$spaces :
  xx-small 5px,
  x-small  10px,
  small    15px,
  medium   20px,
  large    25px,
  x-large  50px;

$space-x-small : 5px;
$space-small   : 10px;
$space-medium  : 15px;
$space-large   : 20px;
$space-x-large : 25px;
