// Colors array.
$colors :
  gris-tren #444344,
  azul-tren #007993,
  crema-tren #F2EFDC,
  rojo-tren #BF4B4B,
  celeste-tren #7fbbc8;

@font-face {
  font-family: 'vincentregular';
  src: url('../fonts/vincent-regular-webfont.eot');
  src: url('../fonts/vincent-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/vincent-regular-webfont.woff') format('woff'),
  url('../fonts/vincent-regular-webfont.ttf') format('truetype'),
  url('../fonts/vincent-regular-webfont.svg#vincentregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Font configuration.
$vincent           : 'vincentregular';
$font-primary      : "proxima-nova",sans-serif;

$font-sizes        :
  xx-small 10px,
  x-small  12px,
  small    14px,
  medium   16px,
  x-medium 18px,
  large    22px,
  x-large  30px;

// Spacing sizes for padding and margins.
$spaces :
  xx-small 5px,
  x-small  10px,
  small    15px,
  medium   20px,
  large    25px,
  x-large  50px;