// Border colors.
@each $color in $colors {
  .border-#{nth($color, 1)} {
    border-color : nth($color, 2);
    border-style : solid;
    border-width : 1px;
  }

  // Border sides.
  @each $side in "top", "right", "bottom", "left" {
    .border-#{$side}-#{nth($color, 1)} {
      border-color          : nth($color, 2);
      border-style          : solid;
      border-#{$side}-width : 1px;
    }
  }
}

// Border radius sizes.
@each $space in $spaces {
  .border-radius-#{nth($space, 1)} {
    @include border-radius(nth($space, 2));
  }
}

// Border styles.
@each $style in "dashed", "dotted" {
  .border-#{$style} {
    border-style : $style;
  }
}

// Circle border.
.circle {
  @include border-radius(50%);
}
