button, .btn {
  display: inline-block;
  font-family: 'proxima-nova';
  margin: 0;

  &[disabled] {
    cursor: default;
  }
}

.btn-label {
  display: inline-block !important;
}

a.btn {
  font-family: 'proxima-nova';
  &:hover {
    text-decoration: none;
  }
  text-decoration: none;
}

.btn {
  @include border-radius(2px);
  @extend .text-small;
  padding: 11px 18px 9px;
  text-align: center;
  cursor: pointer;
  font-weight: 200;

  //colors
  &.orange {
    background-color : getColor(orange);
    border : 1px solid getColor(orange-dark);
    color: getColor(white);
    text-shadow  : 1px 1px getColor(orange-dark);
    
  }
  &.saved {
    @extend .background-grass;
    border : 1px solid getColor(green-leaf);
    text-shadow: none;
  }
  // Sizes.
  &.btn-medium {
    @extend .text-small;
    padding: 8px 10px;

  }
  &.btn-small {
    padding: 4px 10px;
  }
  &.btn-tiny {
    @extend .text-x-small;
    padding: 0px 5px;

  }
}

.btn-next {
  &:after {
    content: ">>";
    margin-left: 5px;
  }
}

.btn-back {
  &:before {
    content: "<<";
    margin-right: 5px;
  }
}

.link-button {
  cursor: pointer;
  font-weight: 400;
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.hover-buttons {
  button, .btn {
    visibility: hidden;
  }

  &:hover {
    button, .btn {
      visibility: visible;
    }
  }
}

.icon-remove {
  &:before {
    content: "X";
    font-weight: 600;
  }
}