.span-1{
	width:10%;
}
.span-2{
	width:20%;
}
.span-3{
	width:30%;
}
.span-4{
	width:40%;
}
.span-5{
	width:50%;
}
.span-6{
	width:60%;
}
.span-7{
	width:70%;
}
.span-8{
	width:80%;
}
.span-9{
	width:90%;
}
.span-10{
	width:100%;
}