.closest-sprint-store{
  margin           : 0 -15px;
  background-color : rgba(67,68,67,0.9);
  padding          : 15px 0;

  .pure-g{
    padding : 0 10px; 
    p{
      color : #F2EFDC;
      strong{
        color : #bf4b4b;
      }
    }
    a{
      text-decoration : none; 
    }
    .close{
      color        : #bf4b4b;
      position     : absolute;  
      right        : 0; 
      margin-right : 20px;
      font-weight  : bold; 
    }
    .like{
      position     : absolute;  
      right        : 0; 
      margin-right : 65px; 
    }
  }
}

.closest-sprint-store-copy{
  font-size:0.813em;
  margin:0 0 0 30px;
}

.closest-sprint-store-copy-2{
  font-size:0.813em;
  margin:0 0 0 30px;
}

#store-location-icon{
  float           : left;
  width           : 20px;
  height          : 33px;
  background      : url('/images/locator_image.svg') no-repeat left top;
  background-size : 20px 33px;
  margin-top      : 10px;
}
 
.paradas{
  width      : 100%;
  margin-top : 20px; 
  .list-cont{
    background : #BF4B4B;
    padding    : 0 10px ;
    max-height : 250px;
    overflow-y : scroll;  
  }
  .main-parada{
    background : #BF4B4B;
    color      : #F2EFDC;
    text-align : center;
    cursor     : pointer;
    padding: 20px 0;
  }
  .parada{
    text-align : center;
    cursor     : pointer;
    background : #BF4B4B;
    color      : #F2EFDC; 
    border-top : solid #F2EFDC 1px;
  } 
}

.list-cont{
  @include transition(0.5s ease-in-out);
  height : 250px;
}

.list-cont.ng-hide-add,
.list-cont.ng-hide-remove {
  display : block!important;
}
 
.list-cont.ng-hide{
  height : 0px;
}

.closest-sprint-store{
  @include transition(0.5s ease-in-out);
  opacity    : 1;
  min-height : 60px;
  overflow   : hidden; 
}

.closest-sprint-store.ng-hide-add,
.closest-sprint-store.ng-hide-remove {
  display : block!important;
}
 
.closest-sprint-store.ng-hide{
  height  : 0px;
  opacity : 0;
}

route-map{
  display: block;
    width: 100%;
    height: 100%;
}

#theMap {
    width:455px;
    height:300px;
    background:#ccc;
    margin: 5px 0;
}
.mapContainer {
    width:500px;
    margin:5px;
}
#wrongAddress {
    display:none;
}

.ruta-header{
  @extend .padding-vertical-medium;
  @extend .text-center;
  @extend .text-medium;
  background-color: getColor(rojo-tren);
  color: getColor(crema-tren);
  font-weight: 700;
}