.table-cell {
  display: table-cell;
}

.content-spacer {
  padding-right: 15px;
  vertical-align: top;
}

.justify {
  text-align: justify;
}

.justified {
  display: inline;
}

.stretch {
  display: inline-block;
  width: 100%;
}

.clear-both {
  clear: both;
}

.no-wrap {
  white-space: nowrap;
}

.wrap {
  white-space: normal;
}

.overflow-visible {
  overflow: visible !important;
}